.block{
	.box{
		margin-bottom: 10px;
		.info-box{
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 100px);
		}
		.btn-box{
			display: inline-block;
			vertical-align: top;
			width: 100px;
		}
	}
}
